.container{
	box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.64);
	border-style: solid;
	border-size: 1px; 
	margin: 2rem auto;
	max-width: 90%
	width:1200px;
}
header {
	display: grid;
	grid-template-rows: 2rem 1fr 2rem; 
	border-bottom-style: solid;
	border-size: 1px;
}
header #title{
	margin: 2rem;
	grid-row: 2 / 3;
}
header ul{
	display: flex;
	align-items: flex-end;
	grid-row: 3 / 4;
	justify-content: space-around;
	width: 400px;
}

main {
	display: grid;
	grid-template-columns: 2fr 1fr;
}
main h2 {
	display: flex;
	justify-content: center;
}
#headShot{
	display: flex;
	grid-row: 2 / 3;
	justify-content: flex-end;
}
#projects ul{
	/*display: grid;
	grid-template-columns: 1fr 1fr;*/
}
